<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link type="text/css" rel="stylesheet" href="/css/style5.css">
</head>

<body>
    <h1>Carga de producto</h1>

    <form method="post" action="/products/store" enctype="multipart/form-data">
        <div>
            <label for="">Nombre del producto</label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="">Marca</label>
            <input type="text" name="brand">
        </div>

        <div>
            <label for="">Precio</label>
            <input type="number" name="price">
        </div>

        <div>
            <label for="">Descripcion</label>
            <input type="text" name="description">
        </div>

        <div>
            <label for="">Imagen</label>
            <input type="file" name="image">
        </div>
        <button type="submit">Cargar producto</button>
    </form>
</body>

</html>