<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">  
    <link type="text/css" rel="stylesheet" href="/css/style5.css">
</head>
<body>
    <h1 class="nombre">Detalle del producto: <%= product.name %> </h1>
    
    <p class="precio"> Precio: $ <%= product.price %> </p>
    <img src="/images/<%= product.image %>">
    <a class="link" href="/products">Volver al listado</a> 

</body>
</html>