<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto</h1>

    <form method="post" action="/products/update" enctype="multipart/form-data">
        <div>
            <label for="">Nombre del producto</label>
            <input type="text" name="nombre">
        </div>

        <div>
            <label for="">Marca</label>
            <input type="text" name="marca">
        </div>

        <div>
            <label for="">Precio</label>
            <input type="number" name="precio">
        </div>

        <div>
            <label for="">Descripcion</label>
            <input type="text" name="descripcion">
        </div>

        <div>
            <label for="">Imagen</label>
            <input type="file" name="image">
        </div>
        <button type="submit">Editar producto</button>
    </form>
</body>
</html> 