<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sillas</title>
    
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <link type="text/css" rel="stylesheet" href="../css/style3.css">
    <link type="text/css" rel="stylesheet" href="../css/stylemovil.css">
    <link type="text/css" rel="stylesheet" href="../css/stylemovil2.css">
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>   

</head>

<header>
    <nav>
      <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
      <input type="checkbox" id="check">
      <label for="check" class="bar-btn">
        <i class="fa-solid fa-bars"></i>
      </label>
  
      <ul class="nav-menu">
        <li><a href="../views/index.html">Inicio</a></li>
        <li><a href="#container">Modelos</a></li>
        <li><a href="#container1">¿Quienes somos?</a></li>
        <li><a href="#footer">Contactos</a></li>
      </ul>
    </nav>
</header>


<body>


    <h1>Sillas</h1>

    <div class="container">
        <div class="card">
         <img src="../images/silla_gala.jpg">
         <h4 class="title">Silla gala</h4>
         <a href="../views/silla_gala.html">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/silla_alma.png">
            <h4 class="title">Silla alma</h4>
            <a href="../views/silla_alma.html">Ver mas</a>
        </div>

        <div class="card">
            <img src="../images/silla_nuvola.png">
            <h4 class="title">Silla nuvola</h4>
            <a href="../views/silla_nuvola.html">Ver mas</a>
        </div>

    </div>

</body>
</html>