<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taburete tilo</title>

    <link type="text/css" rel="stylesheet" href="../css/style.css">    
    <script src="https://kit.fontawesome.com/8bf5dfb69c.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/style4.css">
    <link type="text/css" rel="stylesheet" href="../css/stylemovil3.css">
</head>

<header>
    <nav>
      <div class="logo"><i class="fa-solid fa-couch"></i> SitDown</div>
      <input type="checkbox" id="check">
      <label for="check" class="bar-btn">
        <i class="fa-solid fa-bars"></i>
      </label>
  
      <ul class="nav-menu">
        <li><a href="../views/index.html">Inicio</a></li>
        <li><a href="#container">Modelos</a></li>
        <li><a href="#container1">¿Quienes somos?</a></li>
        <li><a href="#footer">Contactos</a></li>
      </ul>
    </nav>
</header>

<body>
  <div class="container">
    <h1>Taburete tilo</h1>
    <h2 class="description8">Butaca de cuatro patas largas tapizada</h2>
    <h2>Precio de contado</h2>
    <h3>$36.414</h3>
    <a href="#" class="link">Ver el pago en coutas</a>
    <a class="boton" href="#">Comprar</a>  
    <img src="../images/taburete_tilo.png" class="img4">
  </div>    

</body>
</html>